.search-input-container {
    position: relative;
}

.search-input {
    width: 300px;
    border-radius: var(--border-radius);
    padding: 10px;
    outline: none;
    border: 0;
    background-color: var(--gray-color-1);
    color: white;
}

.search-input::placeholder {
    color: var(--gray-color-2);
}

.search-input-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    color: var(--gray-color-2);
}