<header>
    <nav class="navbar">
        <section class="navbar-group" id="navbar-app-logo">
            <span>TeamVision</span>
        </section>
        <section class="navbar-group">
            <ul id="navbar-options-menu">
                <li>
                    <a routerLink="/">Início</a>
                </li>
                <li>
                    <a routerLink="/projetos">Projetos</a>
                </li>
                <li>
                    <a routerLink="/colaboradores">Colaboradores</a>
                </li>
                <li>
                    <a routerLink="/buscar">Buscar</a>
                </li>
            </ul>
        </section>
        <section class="navbar-group" id="navbar-user-section">
            <span id="navbar-user-name">Nome Usuário</span>
        </section>
    </nav>
</header>